*.zwc
*.swp
*~
nvim/plugged/*
!nvim/plugged/.gitkeep
nvim/nvim-files/backups/*
!nvim/nvim-files/backups/.gitkeep
nvim/nvim-files/swaps/*
!nvim/nvim-files/swaps/.gitkeep
vim/plugged/*
!vim/plugged/.gitkeep
vim/vim-files/backups/*
!vim/vim-files/backups/.gitkeep
vim/vim-files/swaps/*
!vim/vim-files/swaps/.gitkeep
vim/.netrwhist
.ctrlp_cache/
.vimcache


# secret
bin/sql-backup
