*.swp
*~
repos
!repos/.gitkeep

# symlinks
stow/systemd/.config/systemd/user/default.target.wants
stow/systemd/.config/systemd/user/multi-user.target.wants

# secret
bin/sql-backup
stow/gnupg/.gnupg
!stow/gnupg/.gnupg/gpg-agent.conf
